# Virtual Environment
venv/
env/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Credentials and Environment Variables
.env
.env.test
client_secrets.json
*.pem
*.key
credentials.json
token.json
token.pickle
.streamlit\secrets.toml

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Logs
*.log
logs/
log/

# Database
*.db
*.sqlite3

# Testing
.coverage
htmlcov/
.tox/
.nox/
.pytest_cache/ 

## Folders
data/
scripts/*
# un'eccezione per i file che vogliamo tenere
!scripts/reindex_content.py

prompts/

# Custom Scripts
export_project.py

test_embed.html

GRAPHICAL_IMPROVEMENT_PLAN.md
webAppDesignDocument.md
docker-compose.test.yml
export_project_by_folder.py
